<div id="app">
  <heading v-if="bShowStory" :prompt="prompt" :story="story"></heading>
  {{!--<h1>{{ title }}</h1>--}}
</div>
{{!--<h1>{{ title }}</h1>--}}
{{!--<p>Welcome to {{ title }}</p>--}}
{{!--<script src="javascripts/index.js"></script>
<script src="javascripts/animate.js"></script>--}}
<script>
  var data = {{{ data }}};
  console.log(data);
  console.log("{{{ title }}}");
</script>
<script src="javascripts/index.js"></script>
<script src="javascripts/animate.js"></script>
