<div id="app">
  <heading v-if="bShowStory" :story="story"></heading>
  {{!--<h1>{{ title }}</h1>--}}
  <div id="postInfo">
    <strong>Submit your own response.</strong>
    <br />
    Scan the QR code or visit <a href='{{postURL}}'>{{postURL}}</a> to write.
  </div>
</div>
{{!--<h1>{{ title }}</h1>--}}
{{!--<p>Welcome to {{ title }}</p>--}}
{{!--<script src="javascripts/index.js"></script>
<script src="javascripts/animate.js"></script>--}}
<script>
  var prompts = {{{ prompts }}};
  var stories = {{{ stories }}};
  var socketServer =  "{{{ socketio }}}";
  console.log("{{{ title }}}");
</script>
<script src="javascripts/index.js"></script>
{{!--<script src="javascripts/sketch.js"></script>--}}
